<link href="~/Content/jquery-easyui-1.4.2/themes/bootstrap/easyui.css" rel="stylesheet" />
<table>
    <tr>
        <td>A:</td>
        <td><input type="text" class="easyui-textbox"/></td>
        <td>B:</td>
        <td><input type="text" class="easyui-textbox"/></td>
    </tr>
    <tr>
        <td>A:</td>
        <td><input type="text" class="easyui-textbox"/></td>
        <td>B:</td>
        <td><input type="text" class="easyui-textbox"/></td>
    </tr>
    <tr>
        <td>A:</td>
        <td><input type="text" class="easyui-textbox"/></td>
        <td>B:</td>
        <td><input type="text" class="easyui-textbox"/></td>
    </tr>
    <tr>
        <td>A:</td>
        <td><input type="text" class="easyui-textbox" /></td>
        <td>B:</td>
        <td><input type="text" class="easyui-textbox" /></td>
    </tr>
</table>