<!DOCTYPE html>
<html>

<head>
    <title>登陆页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" type="text/css" href="~/Content/Weixin/css/global.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Weixin/css/login.css" />
</head>

<body class="body-background">
    <div class="login">
        <!--<form method="post" action="">-->
        <div class="login-bar">
            <ul>
                <li>
                    <img src="~/Content/Weixin/img/login_user.png">
                    <input type="text" class="text" placeholder="请输入手机号" id="txtUserName">
                </li>
                <li>
                    <img src="~/Content/Weixin/img/login_pwd.png">
                    <input type="password" class="psd" placeholder="请输入确认密码" id="txtPassword">
                </li>
            </ul>
        </div>
        <div class="login-btn">
            <button class="submit" id="submit">
                登陆
            </button>
            <a href='@Url.Action("Register")'>
                <div class="login-reg">
                    <p>莫有账号，先注册</p>
                </div>
            </a>
        </div>
        <!--</form>-->
    </div>
</body>

</html>
<script src="~/Content/Weixin/js/jquery-1.7.2.min.js"></script>
<script src="~/Content/Weixin/js/cookie.js"></script>
<script>
    var Request = GetRequest();
    $(function () {
        $("#txtUserName").val(Request["phone"]);
        $("#submit").on("touchstart", function() {});

        $("#submit").on("click", function () {
            $.post('@Url.Action("IsLogin","Home")', { phone: $("#txtUserName").val(), pwd: $("#txtPassword").val() }, function (res) {
                if (!!res) {
                    var userName = $("#txtUserName").val();
                    addCookie("phone", userName,7*24);
                    window.location.href = '@Url.Action("Index","Weixin")';
                } else {
                    alert("登录失败");
                }
         
            });
      
        });

    });
    //js获得Url数值
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            var strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
</script>
